/* Update your existing CSS to move "Home Bar Pro" to the far left */

.top-right-nav {
  right: 5%;
  height: 300px;
  width: 270px;
  justify-content: center;
  align-items: center;
  color: #e58be1; /* Set text color to #e58be1 */
  position: absolute;
  background-color: #020202; /* Set the background color to #020202 */
  border: 1px solid #96f3f8; /* Add a border for clarity */
  
}
.login-container {
  position: absolute;
  top: 0;
  width: 270px;
  height: 300px;
  right: 0;
  padding: 10px; /* Adjust the padding as needed */
  background-color: #fff; /* Set the background color as needed */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a shadow for better visibility */
  z-index: 1000; /* Make sure it's above other elements on the page */
  overflow: visible;
}
.btn-button {
  background-color: #5100FF;
  color: white;
}
.btn-button:hover {
  border: 2px solid rgb(240, 116, 234);
  color: #fff;
}
.token-input {
  display: none;
}
.navbar-logo {
  max-width: 200px;
  max-height: 200px;
}